
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif,"宋体";}
body{background-image:url(images/bg.jpg);}
/* sdt_menu */
ul.sdt_menu{list-style:none;font-family:"Myriad Pro", "Trebuchet MS", sans-serif;font-size:14px;width:1020px;height:85px;margin:150px auto 0 auto;padding:0;}
ul.sdt_menu a{text-decoration:none;outline:none;}
ul.sdt_menu {margin-left:250px ;float:left;width:170px;height:85px;position:relative;cursor:pointer;}
ul.sdt_menu li > a{position:absolute;top:0;left:0;width:170px;height:85px;z-index:12;background:url(overlay.png) no-repeat top right;-moz-box-shadow:0 0 2px #000 inset;-webkit-box-shadow:0 0 2px #000 inset;box-shadow:0 0 2px #000 inset;}
ul.sdt_menu li a img{border:none;position:absolute;width:0;height:0;bottom:0;left:85px;z-index:100;-moz-box-shadow:0 0 4px #000;-webkit-box-shadow:0 0 4px #000;box-shadow:0 0 4px #000}
ul.sdt_menu li span.sdt_wrap{position:absolute;top:25px;left:0;width:170px;height:60px;z-index:15;}
ul.sdt_menu li span.sdt_active{position:absolute;background:#111;top:85px;width:170px;height:0;left:0;z-index:14;-moz-box-shadow:0 0 4px #000 inset;-webkit-box-shadow:0 0 4px #000 inset;box-shadow:0 0 4px #000 inset;}
ul.sdt_menu li span span.sdt_link,ul.sdt_menu li span span.sdt_descr,ul.sdt_menu li div.sdt_box a{margin-left:15px;text-transform:uppercase;text-shadow:1px 1px 1px #000;}
ul.sdt_menu li span span.sdt_link{color:#fff;font-size:24px;float:left;clear:both;}
ul.sdt_menu li span span.sdt_descr{color:#0B75AF;float:left;clear:both;width:155px;font-size:10px;letter-spacing:1px;}
ul.sdt_menu li div.sdt_box{position:absolute;width:170px;overflow:hidden;height:155px;padding-top:15px;top:85px;left:0;display:none;background:#000;}
ul.sdt_menu li div.sdt_box a{line-height:30px;color:#0B75AF;font-size:12px;display:block;}
ul.sdt_menu li div.sdt_box a:hover{color:#fff;}

/*body {margin: 0px;padding:0}*/
#div1 {
 display: none;
 position: absolute;
 z-index: 9999999;
 height: 100%;
 width: 100%;
 background: #000000;
 filter:Alpha(opacity=30);
}
#div2 {
 display: none;
 position: absolute;
 height: 100%;
 width: 100%;
 padding-top: 15%;
 z-index: 9999999;
 left: 0px;
 top: 0px;
}
.user_close{ padding-right:10px; border-bottom:1px solid #dddddd;}
.user_n{ font-size:14px;  line-height:28px; color:#b8b8b8;}
